body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#6dd5ed,#2193b0);
    font-family:Arial, sans-serif;
}

.box{
    width:380px;
    padding:35px;
    background:#fff;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
    border:none;
}

h2{
    color:#28a745;
    font-size:30px;
    margin-bottom:15px;
    text-transform:uppercase;
    letter-spacing:1px;
}

p{
    color:#555;
    font-size:18px;
    line-height:1.6;
}
